*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding:30px;
    font-family:Arial, sans-serif;
    background:#14100d;
}

h1{
    color:white;
    margin-bottom:20px;
}

.container{

    display:grid;

    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 80px 200px 60px;
    grid-template-areas: "nav nav nav"
                         "sidebar article article"
                         "footer footer footer";

    justify-items: start;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    
    gap:20px;
    
    padding: 20px;

    border:3px solid white;

    border-radius: 10px;

    background:#d32f2f;

}

.item{

    display:flex;

    /* width: 60px;
    height: 60px; */

    justify-content:center;

    align-items:center;

    background:royalblue;

    color:white;

    border:2px solid white;
    
    border-radius: 10px             ;

    font-size:28px;

    font-weight:bold;

}

.item1 {
    grid-area: nav;
}

.item2 {
    grid-area: sidebar;
    align-self: flex-start;
    justify-self: flex-end;
}

.item3 {
    grid-area: article;
}

.item4 {
    grid-area: footer;
}
/* .item2 {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 3;
} */