* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;
    color: #e0dada;
    line-height: 1.6;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}

.navbar {
    background-color: #0d1117;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.95;
    border-bottom: 1px solid rgb(187, 186, 184);
    width: 100%;
    z-index: 9999;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    display: none;
    text-decoration: none;
    color: #e0dada;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: orange;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(180deg, #0d1117 0%, #161b22 100%);
    border-bottom: 1px solid #f3eded;
}

.hero-content {
    max-width: 80vw;

}

.hero h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    word-spacing: 2px;
    line-height: 1.5;
    color: #ffffff;
}

.hero p {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 2.2rem;
    color: #bac1d7;

}

.hero-content button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background: linear-gradient(90deg, #c0bff0, #00c9ff);
    color: #0b0f1a;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 0 25px rgba(108, 99, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-content button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 35px rgba(0, 201, 255, 0.6);
}

.categories {
    padding: 4rem 0;
}


.categories h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #f3eded;
    text-align: center;
    text-transform: uppercase;
}

.category-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
}

.category-card {
    width: 100%;
    max-width: 350px;
    background: #171c25;
    ;
    border-radius: 16px;
    border: 1px solid #2c3442;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #f3eded;
}

.category-card p {
    font-size: 0.9rem;
    color: #e0dada;
    margin-bottom: 10px;
}

.category-card a {
    display: inline-block;

    padding: 0.6rem 1.2rem;

    background: #00c9ff;
    color: #0b0f1a;

    text-decoration: none;
    font-weight: 600;

    border-radius: 8px;
    transition: 0.3s ease;
}

.category-card a:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgb(22, 22, 216);
}

.category-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #2e333d;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.featured-products .container {
    max-width: 100%;
    padding: 0;
}

.featured-products {
    padding: 4rem 0;
}

.featured-products h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #f3eded;
    text-align: center;
    text-transform: uppercase;
}

.product-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.product-row {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 1rem;
}

.product-card {
    flex: 0 0 200px;
    background: #171c25;
    border-radius: 16px;
    border: 1px solid #2c71e7;
    box-shadow: 0 1px 10px rgba(136, 255, 1, 0.25);
    padding: 1rem;
    margin: 0;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card h3 {
    font-size: 1rem;
    font-weight: 700;
    justify-self: start;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #f3eded;
}

.product-card p {
    font-size: 1rem;
    color: #e4c704;
    justify-self: start;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-card button {
    width: 100%;
    padding: 0.50rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(90deg, #c0bff0, #00a6ff);
    color: #0b0f1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s;
}

.product-card button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgb(201, 5, 5);
}

.product-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #282d37;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* ====== Special Offers Section ====== */

.special-offers {
    padding: 4rem 0;
    background: #111720;
}

.special-offers h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #f3eded;
    text-align: center;
    text-transform: uppercase;
}

.offer-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.offer-card {
    width: 100%;
    background: linear-gradient(
        135deg,
        #1d2633,
        #141a23
    );

    border: 1px solid #ff5100;
    border-radius: 20px;

    padding: 1.2rem;

    box-shadow: 0 8px 30px rgba(255, 0, 0, 0.15);

    text-align: center;

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.offer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(255, 64, 0, 0.25);
}

.offer-image {
    width: 100%;
    aspect-ratio: 16 / 9;

    background-color: #282d37;

    border-radius: 14px;

    overflow: hidden;

    margin-bottom: 1.2rem;
}

.offer-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 14px;
}

.offer-card h3 {
    font-size: 1.5rem;
    font-weight: 700;

    color: #ffffff;

    margin-bottom: 0.5rem;
}

.offer-card p {
    font-size: 0.9rem;

    color: #bac1d7;

    margin-bottom: 1.2rem;
}

/* Offer Button */

.offer-card a {
    display: inline-block;

    padding: 0.7rem 1.5rem;

    background: linear-gradient(
        90deg,
        #f49302,
        #ff1100
    );

    color: white;

    text-decoration: none;

    font-size: 0.9rem;
    font-weight: 700;

    border-radius: 8px;

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.offer-card a:hover {
    transform: translateY(-3px);

    box-shadow: 0 0 20px rgba(0, 201, 255, 0.5);
}


.review-section {
    padding: 4rem 0;

    background: #0d1117;

    border-top: 1px solid #252d39;
}

.review-section h2 {
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 2rem;

    color: #f3eded;

    text-align: center;
    text-transform: uppercase;
}

.review-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.review-card {
    width: 100%;

    padding: 1.5rem;

    background: #171c25;

    border-left: 4px solid #00c9ff;
    border-radius: 12px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.review-card:hover {
    transform: translateY(-4px);

    box-shadow: 0 10px 30px rgba(0, 201, 255, 0.15);
}

.review-stars {
    font-size: 1.1rem;

    color: #e4c704;

    letter-spacing: 3px;

    margin-bottom: 1rem;
}

.review-card p {
    font-size: 0.95rem;

    color: #bac1d7;

    margin-bottom: 1.2rem;

    line-height: 1.7;
}

.review-card h4 {
    font-size: 1rem;

    color: #ffffff;

    margin-bottom: 0.2rem;
}

.review-card span {
    font-size: 0.75rem;

    color: #7f8ba3;
}

.footer {
    padding: 3rem 0 1.5rem;

    background: #080b10;

    border-top: 1px solid #2c3442;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-brand h2 {
    font-size: 1.6rem;

    color: #ffffff;

    margin-bottom: 0.5rem;
}

.footer-brand p {
    font-size: 0.85rem;

    color: #8f9bad;

    max-width: 280px;
}

.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links h3,
.footer-contact h3 {
    font-size: 1rem;

    color: #ffffff;

    margin-bottom: 0.3rem;
}

.footer-links a {
    color: #8f9bad;

    text-decoration: none;

    font-size: 0.85rem;

    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #00c9ff;
}

.footer-contact p {
    font-size: 0.85rem;

    color: #8f9bad;
}

.footer-bottom {
    margin-top: 2rem;

    padding-top: 1rem;

    border-top: 1px solid #252d39;

    text-align: center;
}

.footer-bottom p {
    font-size: 0.75rem;

    color: #687386;
}

/* ============================= */
/* ===== Tablet: 650px+ ======== */
/* ============================= */

@media (min-width: 650px) {

    .nav-links a {
        display: block;
        font-size: 1rem;
        gap: 1rem   ;
    }

    .nav-links {
        gap: 1rem;  
    }

    .logo {
        font-size: 2rem;
        font-weight: 700;
    }

    .hero-content {
        max-width: 70%;
    }

    .category-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card {
        flex: 0 0 264px;
    }

    .offer-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
}