* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;
    color: #e0dada;
    line-height: 1.6;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    margin: 0 auto;
}

.navbar {
    background-color: #0d1117;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.95;
    border-bottom: 1px solid rgb(187, 186, 184);
    width: 100%;
    z-index: 9999;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    display: none;
    text-decoration: none;
    color: #e0dada;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: orange;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(180deg, #0d1117 0%, #161b22 100%);
}

.hero-content {
    max-width: 80vw;

}

.hero h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    word-spacing: 2px;
    line-height: 1.5;
    color: #ffffff;
}

.hero p {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 2.2rem;
    color: #bac1d7;

}

.hero-content button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background: linear-gradient(90deg, #c0bff0, #00c9ff);
    ;
    color: #0b0f1a;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 0 25px rgba(108, 99, 255, 0.5);
    ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-content button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 35px rgba(0, 201, 255, 0.6);
}

.categories {
    padding: 4rem 0;
}


.categories h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #f3eded;
    text-align: center;
    text-transform: uppercase;
}

.category-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.category-card {
    max-width: 300px;
    background: #171c25;
    ;
    border-radius: 16px;
    border: 1px solid #2c3442;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #f3eded;
}

.category-card p {
    font-size: 0.9rem;
    color: #e0dada;
    margin-bottom: 10px;
}

.category-card a {
    display: inline-block;

    padding: 0.6rem 1.2rem;

    background: #00c9ff;
    color: #0b0f1a;

    text-decoration: none;
    font-weight: 600;

    border-radius: 8px;
    transition: 0.3s ease;
}

.category-card a:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgb(22, 22, 216);
}

.category-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #2e333d;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .category-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}