* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    background-color: #14100d;
    color: #e8ddc7;
    font-family: "poppins", sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}